@font-face {
    font-family: 'Molot';
    src: url('Molot.woff2') format('woff2'),
        url('Molot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

